@use "../base/" as base;

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  font-family: base.$fontPrimary;
  background-color: base.$background;
  color: base.$primary;
  user-select: none;

  #left {
    position: relative;
    font-size: 2.5rem;
    font-family: base.$fontSecondary;
    font-weight: 500;
    cursor: pointer;

    #after {
      display: inline-block;
    }

    span {
      color: base.$secondary;
    }
  }

  #right {
    font-size: 1.6rem;

    ul {
      display: flex;
      list-style: none;
      gap: 1.8ch;
    }
  }
}
