@use "../base/" as base;

#about {
  flex: 1;

  .content {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    font-size: 1.2rem;

    button {
      margin-top: 20px;
      align-self: center;
    }
    span.highlight {
      color: base.$secondary;
    }
  }
}
