@use "../base/" as base;

#about {
  max-width: 35%;
  flex: 1;

  .content {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    gap: 1rem;

    p {
      font-size: 1.2rem;
    }

    button {
      margin-top: 20px;
    }
  }
}
