@use "../base/" as base;

#about {
  max-width: 35%;
  flex: 1;
  // display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  .content {
    // display: flex;
    // align-items: flex-start;
    // background-color: red;
  }

  p {
    font-size: 1.2rem;
  }
}
