@use "../base/" as base;

#contact {
  @include base.sectionContainer($flexDirection: column);

  .content {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    margin: 0 auto;
    align-items: center;
    gap: 10px;

    p {
      max-width: 60%;

      @media (max-width: 700px) {
        max-width: 80%;
      }
    }

    #contact-links {
      display: flex;
      align-items: center;
      gap: 2rem;
      background: base.$layer;
      padding: 16px;
      border-radius: 8px;
      color: base.$primary;
      margin-top: 32px;

      @media (max-width: 700px) {
        flex-direction: column;
        gap: 1.2rem;
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: base.$primary;
        gap: 1ch;
      }

      img {
        width: 32px;
        height: auto;
        user-select: none;
      }

      > div {
        display: flex;
        align-items: center;
        gap: 1ch;
      }
    }
  }
}
