@use "../base/" as base;

footer {
  width: fit-content;
  align-self: center;
  margin: 28px 0;
  display: flex;
  justify-content: center;
  background-color: rgba(31, 34, 51, 0.66);
  font-size: 1.1rem;
  font-family: base.$fontMono;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 8px;
  gap: 1ch;
  user-select: none;

  span {
    color: base.$secondary;
  }
}
