@use "../base/" as base;

footer {
  width: fit-content;
  align-self: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  background-color: rgba(31, 34, 51, 0.66);
  font-size: 1.2rem;
  font-family: base.$fontMono;
  padding: 10px 20px;
  border-radius: 8px;
  gap: 1ch;

  span {
    color: base.$secondary;
    transform: scale(2);
  }
}
