@use "../base/" as base;

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: base.$background;
  color: base.$primary;
  font-family: base.$fontSerif;
  user-select: none;
  padding: 0 10%;

  > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h1 {
      font-size: 4rem;
      font-weight: 500;
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 400;
    }

    #hero-button {
      margin-top: 12px;
      align-self: center;
      cursor: pointer;
    }
  }

  span {
    color: base.$secondary;
    font-weight: 500;
  }
}
