@use "../base/" as base;

#profile-container {
  @include base.sectionContainer($flexDirection: row);
  margin-top: 64px;

  @media (max-width: 900px) {
    flex-direction: column;
    gap: 64px;
  }
}
