@use "../base/" as base;

#projects {
  @include base.sectionContainer($flexDirection: column);
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;

  @media (max-width: 950px) {
    gap: 50px;
  }
}

.project-item {
  display: flex;
  gap: 0.8rem;
  align-items: center;

  @media (max-width: 1000px) {
    gap: 3rem;
  }

  &.ltr {
    flex-direction: row;

    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }

  &.rtl {
    flex-direction: row-reverse;

    @media (max-width: 950px) {
      flex-direction: column;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 1;
    gap: 1rem;

    h2 {
      font-size: 1.8rem;
      font-weight: 500;
      font-family: base.$fontMono;
    }

    p {
      font-size: 1.2rem;
    }

    .button-container {
      margin-top: 30px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      gap: 5%;
    }
  }
}
