@use "../base/" as base;

.carousel {
  position: relative;
  flex: 2;
  display: grid;
  grid-template-columns: minmax(35px, 6%) 1fr minmax(35px, 6%);
  grid-template-rows: 16px 1fr 16px;
  row-gap: 10px;
  column-gap: 0.5rem;
  align-items: start;
  overflow-x: hidden;
  user-select: none;

  @media (max-width: 1200px) {
    flex: 2.5;
  }

  img {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  .chevron {
    grid-row: 2 / span 1;
    width: 100%;
    justify-self: center;
    position: absolute;
    z-index: 2;
    background-color: base.$layer;
    display: flex;
    justify-content: center;
    padding: 15%;
    border-radius: 12px;
    align-self: center;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    &.left {
      grid-column: 1 / span 1;
    }

    &.right {
      grid-column: 3 / span 1;
    }
  }
}
