@use "../base/" as base;

#skills {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  // align-items: flex-start;

  @media (max-width: 1100px) {
    flex: 1.2;
  }

  p {
    font-size: 1.2rem;
  }
}
