@use "../base/" as base;

#skills {
  display: flex;
  flex-direction: column;

  &:nth-child(1) {
    flex: 1.5;
  }

  &:nth-child(2) {
    flex: 2;
  }

  .content {
    // background-color: blue;
  }

  p {
    font-size: 1.2rem;
  }
}
