@use "./base/" as base;

main {
  // display: flex;
  // flex-direction: column;
  position: relative;
  background-color: base.$background;
  color: base.$primary;
  font-family: base.$fontPrimary;
}
