@use "./base/" as base;

#app {
  overflow-x: hidden;
  main {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: base.$background;
    color: base.$primary;
    font-family: base.$fontPrimary;
  }
}
