@use "./base/" as base;

#app {
  main {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: base.$background;
    color: base.$primary;
    font-family: base.$fontPrimary;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
