@use "./typography" as base;

@mixin sectionContainer($flexDirection, $gap: 5%) {
  display: flex;
  gap: $gap;
  padding: 100px 5% 0;
  flex-direction: $flexDirection;
  font-family: base.$fontPrimary;

  @media (max-width: 950px) {
    padding: 60px 5% 0;
  }
}
