@use "./typography" as base;

@mixin sectionContainer($flexDirection, $gap: 5%) {
  display: flex;
  gap: $gap;
  margin: 48px 10%;
  flex-direction: $flexDirection;
  font-family: base.$fontPrimary;
}
