@use "./typography" as base;

@mixin sectionContainer($flexDirection, $gap: 5%) {
  display: flex;
  gap: $gap;
  margin: 48px 5%;
  flex-direction: $flexDirection;
  font-family: base.$fontPrimary;

  @media (max-width: 950px) {
    margin: 32px 5%;
  }
}
