@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&family=Bitter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500&display=swap");

// Dosis: 300, 400, 500, 600, 700
// tbd: 400; 500, 600; 700

$fontDisplay: "Bitter", Helvetica, Arial, sans-serif;
$fontPrimary: "Dosis", Helvetica, Arial, sans-serif;
$fontSecondary: "Ubuntu", Helvetica, Arial, sans-serif;
$fontMono: "Jetbrains Mono", monospace;
